*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

header{
  height:400px;
  background-color: blue;
}
.container{
  width:80%;
  margin:auto;
}
#img{
  height: 100px;
  width:100px;
}
.menu-inline{
  list-style: none;
}

.menu-inline li{
  display: inline-block;
  margin-left: 20px;
}

.header-top{
  height:60px;
  line-height: 60px;
}

.header-top::after{
  content:"";
  display: table;
  clear: both;
}
.header-top-logo{
  float: left;
  width: 20%;

}

.header-top-nav-left{
  float: left;
  width: 40%;
  font-size: 10px;

}

.header-top-nav-right{
  float: left;
  width: 40%;
  text-align: right;
  font-size: 10px;



}
.header-top li {
  margin-left: 0 10px;

}

.header-top li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;

}

#boxlink{
  border: 1px solid white;
}
#button-color{
  background-color: green;
}
#button-color2{
  background-color: green;

}
.banner h1{
  color: white;
  text-align: left;

}

/* inizio main */



.container-logo {
  padding: 40px;
  background-color: lightgrey;
  text-align: center;
}
