*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

header{
  height:400px;
  background-color: blue;
}
.container{
  width:80%;
  margin:auto;
}
.clearfix::after{
  content:"";
  display: table;
  clear: both;
}
#img{
  height: 100px;
  width:100px;
}
.menu-inline{
  list-style: none;
}

.menu-inline li{
  display: inline-block;
  margin-left: 20px;
}

.header-top{
  height:70px;
  line-height: 70px;
}

.header-top::after{

}
.header-top-logo{
  float: left;
  width: 20%;

}

.header-top-nav-left{
  float: left;
  width: 40%;
  font-size: 8px;

}

.header-top-nav-right{
  float: left;
  width: 40%;
  text-align: right;
  font-size: 8px;



}
.header-top li {
  margin-left: 0 10px;

}

.header-top li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;

}

.btn{
  border-radius: 5px;
  color: white;
  padding-left: 8px 10px;
  background-color: transparent;
}
.btn-big{
  padding:20px;
}
.btn-green{
  background-color: green;
}
.btn-border-white{
  border: 1px solid white;
}

.banner{
  height: 400px;
  position:relative;
}

.banner-text{
  position: absolute;
  top: 50%;
  left:0;
  transform: translateY(-50%);
}
.banner h1{
  color: white;
  text-align: left;
margin-bottom: 30px;

}

/* inizio main */

.container-logo {
  padding: 40px;
  background-color: lightgrey;
  text-align: center;
}

.info{
  padding:40px 0;
}
.col-info{
  float:left;
  width: 33.33%;
  height: 300px;
  color: red;
  text-align: center;
}

.col-info .info-img{
  height:150px;
}
